*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
  display: inline-block;
  position: fixed;
  top: 0;
  /* background-color: rgb(5, 24, 65); */
}
#banner{
  margin-top: 85px;
}
.show-btn, .hide-btn{
  position: absolute;
  top: 0;
  left: 4%;
  font-size: 30px;
  transition: .4s;
  color: aliceblue;
  line-height: 80px;
}
#chk{
  /* display: none; */
  position: absolute;
}
#chk:checked ~.show-btn{
  opacity: 1;
}
.hide-btn{
  opacity: 0;
}
.menu {
  background-color: rgb(5, 24, 65);
  width: 100vw;
  text-align: center;
  height: 80px;
  line-height: 80px;
  }
.menu ul{
  display: inline-flex;
  list-style-type: none;
  position: relative;
}
.menu li{
  width: 130px;
  margin: 0 15px;
}
.menu li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.menu .drop2{
  display: none;
  position: fixed;
  background-color:rgb(5, 24, 65);
  color: black;
  border-radius: 2px;
  font-family: arial;
  font-size: 17px;
  width: 130px;
  z-index: 100;
  margin-left: -120px;
  margin-top: 60px;
}
.menu .drop2 ul{
  text-align: center;

}
.menu .drop2 ul li a{
  padding-right: 25px ;
}
.menu .fa{
  /* display: none; */
}
.menu li a:hover{
  background-color:cornflowerblue;
  color: black;
  padding: 5px;
  border-radius: 4px;
  font-family: arial;
  font-size: 17px;
  width: 80px;
  height: 50px;
}
.menu li:hover .drop2{
  display: inline-block;
  /* position: absolute; */
  /* margin-top: 42px; */
  /* margin-left: -20px; */
}
.menu li:hover .drop2 ul{
  display: block;
}
.menu li:hover .drop2 ul li{
  width: 130px;
  /* padding: 5px 0; */
}

@media only screen and (max-width: 850px){

}