*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: inline-block;
  position: fixed;
  top: 0;
  /* justify-content: center; */
  /* align-items: center; */
}
.show-btn, .hide-btn{
  position: fixed;
  top: 0;
  left: 20;
  font-size: 30px;
  transition: .4s;
  color: aliceblue;
  /* z-index: 100; */
}
#chk{
  display: none;
  z-index: -100;
  position: absolute;
}
.hide-btn{
  opacity: 0;
}

.menu {
  background-color: rgb(5, 24, 65);
  width: 100vw;
  /* margin: 0 200px; */
  }
.menu ul{
  /* margin: 0 100px; */
  display: inline-flex;
  list-style-type: none;
  height: 80px;
  position: relative;
}
.menu li{
  padding: 10px;
  margin: 20px 30px;
  width: 130px;
}
.menu li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.menu .drop2{
  display: none;
  position: fixed;
  background-color:cornflowerblue;
  color: black;
  padding: 10px;
  border-radius: 4px;
  font-family: arial;
  font-size: 17px;
  width: 140px;
  z-index: 1;
}
.menu .fa{
  display: none;
}
.menu li a:hover{
  background-color:cornflowerblue;
  color: black;
  padding: 10px;
  border-radius: 4px;
  font-family: arial;
  font-size: 17px;
  width: 140px;
  height: 50px;
}
.menu li:hover .drop2{
  display: inline-block;
  position: absolute;
  margin-top: 32px;
  margin-left: -40px;
}

@media only screen and (max-width: 850px){

}